@charset "ISO-8859-1";

ul {
	list-style-type: none;
}

li {
	padding: 10px;
	display: block;
	width: 200px;
	height: 40px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

li:first-child {
	background-color: #AABCFF;
}

li:nth-child(2) {
	background-color: #91A7FF;
}

li:nth-child(3) {
	background-color: #B29542;
}

li:nth-child(4) {
	background-color: #FFE291;
}

#navigation {
	
}

#content {
	display: inline-block;
}

#profile {
	display: none;
	background-color: #AABCFF;
}

#pokedex {
	display: none;
	background-color: #91A7FF;
}

#poketeams {
	display: none;
	background-color: #B29542;
}

#pokebarn {
	display: none;
	background-color: #FFE291;
}