#left_panel{
    border: 2px solid black;
    background-color: #00ff80;
    
}

/*body {
	background-image: url('img/Wallpaper.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
	background-color: #3A4366;
}*/